-- IQA_pytorch
  -- IQA_pytorch
      -- __init__.py
      -- SSIM.py
      -- MS_SSIM.py
      -- CW_SSIM.py
      -- FSIM.py
      -- VSI.py
      -- VIF.py
      -- VIFs.py
      -- NLPD.py
      -- GMSD.py
      -- MAD.py
      -- LPIPSvgg.py
      -- DISTS.py
      -- weights
        --DISTS.pt
        --LPIPSvgg.pt
  -- README.md
  -- requirements.txt
  -- LICENSE